.layout-main {
  display: grid;
  grid-template-columns: 1.2fr 2fr 1fr;
  gap: 3rem;
  max-width: 1300px;
  margin: 0 auto;
  padding: 3rem;
  align-items: center;
}

.layout-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 900px) {
  .layout-main {
    grid-template-columns: 1fr;
  }
}